@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');



* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    height : 100vh;
    display : flex;
    flex-direction : column;
    align-items : center;
    background : var(--Light-Grayish-Blue)
}

:root {
    --Soft-Cyan: hsl(174, 77%, 80%);
 --Strong-Cyan: hsl(174, 86%, 45%);
 --Light-Grayish-Red: hsl(14, 92%, 95%);
 --Light-Red : hsl(15, 100%, 70%);
 --Pale-Blue: hsl(226, 100%, 87%);



 --White : hsl (0, 0%, 100%);
 --Very-Pale-Blue : hsl(230, 100%, 99%);
 /* --Light-Grayish-Blue: hsl(224, 65%, 95%); */
 --Light-Grayish-Blue : hsl(223, 50%, 87%);
 --Grayish-Blue: hsl(225, 20%, 60%);
 --Dark-Desaturated-Blue : hsl(227, 35%, 25%);
 --slider-background : 50%;
}


header{
    margin-top : 6rem;
    display : flex;
    flex-direction : column;
    justify-content : center;
    text-align : center;
    background : url('images/pattern-circles.svg') no-repeat, hsl(223, 50%, 87%);
    background-size : fill;
    background-position : center;
    padding : 2rem 2rem;
}
header h1 {
    font-size : 1.8rem;
    color : rgb(36, 34, 34);
}
header p {
    margin-top : 1rem;
    color : rgb(87, 83, 83);
}

.container {
    background : rgb(238, 237, 237);
    border-radius : 10px;
    box-shadow : 1px 1px 10px 10px rgba(0, 0, 0, 0.13);
    display : flex;
    flex-direction : column;
    padding : 2rem 1rem;
    justify-content : center;
    align-items : center;
    text-align : center;
    width : 21rem;
}
.one {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}
.detail-wrapper {
   display : grid;
   grid-auto-columns : 1fr;
   grid-template-areas : 
   'one'
   'two'
   'three';
}
.title {
    grid-area : one;
    font-size : 1rem;
    color : rgb(114, 108, 108);
    font-weight : bolder;
}



.input-slider {
    width : 350px;
    padding : 0 40px;
    margin-top : 1rem;
    grid-area : two;
}
.input-slider input {
    background: linear-gradient(
      to right,
      #10d5c2 0%,
      #10d5c2 50%,
      #d0d0d1 50%,
      #b3b3b6 100%
    );
    border-radius : 8px;
    height : 8px;
    width : 100%;
    border-radius : 4px;
    outline : none;
    transition : all .45s ease-in;
    -webkit-appearance: none;
}
.input-slider input::-webkit-slider-thumb {
    -webkit-appearance : none;
    appearance : none;
    width : 40px;
    height : 40px;
    border-radius : 50px;
    background : url(images/icon-slider.svg) rgb(16,213, 194) center no-repeat;
    box-shadow : 0px 10px 20px 0px rgba(16,213,194, 0.7);
    cursor : pointer;
    transition : all .2s;
}
.input-slider input::-webkit-slider-thumb:hover {
    background: url(https://raw.githubusercontent.com/milenig/fend-mentor_pricing-component/3ccfd6b18e87377a950915288ef64c896969bf62/images/icon-slider.svg)
    rgb(27, 230, 209) center no-repeat;
}
.input-slider input::-webkit-slider-thumb:active {
    cursor : grabbing;
    background: url(https://raw.githubusercontent.com/milenig/fend-mentor_pricing-component/3ccfd6b18e87377a950915288ef64c896969bf62/images/icon-slider.svg)
          rgb(13, 190, 173) center no-repeat;
}


.price {
    grid-area : three;
    margin-top : 2rem;
    font-size : 1.4rem;
    color : rgb(41, 39, 39);
    display : flex;
    justify-content : center;
    align-items : center;
}
.month {
    font-size : .8rem;
    color : rgb(148, 147, 147);
    margin-left : .3rem;
}


.billing-wrapper {
    display : flex;
    /* justify-content : space-between; */
    margin-top : 2rem;
    /* background : rgba(255, 0, 0, 0.178); */
    padding : .5rem 1rem;
    width : 300px;
    align-items : center;

}
.bill {
    font-size : .7rem;
    white-space : nowrap;
    color : rgb(122, 117, 117);
}
.button {
    background : rgb(168, 168, 168);
    width : 50px;
    height : 20px;
    margin-left : 1rem;
    border-radius : 30px;
    position : relative;
    transition : all .4s linear;
    cursor : pointer;
}
.circle {
    position : absolute;
    width : 33%;
    height : 75%;
    background : white;
    border-radius : 50%;
    left : 4px;
    top : 2px;
    cursor : pointer;
    transition : all .3s ease;
}
.circle.active {
    /* left : initial; */
    left : 28px;
}

.year { 
    white-space : nowrap;
    margin-left : .4rem;
    font-size : .8rem;
}
.discount {
    margin-left : .4rem;
    font-size : .6rem;
    background : rgba(255, 0, 0, 0.363);
    padding : .1rem .3rem;
    border-radius : 20px;
    color : red;
}

/* Border  */

.border {
    border : 1px solid rgba(204, 204, 204, 0.349);
    width : 18rem;
    margin-top : 1rem;
}


/* Section Two  */
.two {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align : center;
}
.link-wrapper {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    margin-top : 10px;
}
.link {
    display : flex;
    justify-content : space-evenly;
    align-items : center;
    text-align : center;
}
.link:not(:nth-child(1)){
    margin-top : 7px;
}
.link img {
    margin-right : 10px;
}
.link-title {
    font-size : .8rem;
    font-weight : light;
    color : rgb(150, 146, 146);
}

.btn {
    margin-top : 1rem;
    text-align : center;
    display : flex;
    justify-content : center;
    align-items : center;
    background :hsl(227, 35%, 25%);
    padding : .6rem 1.5rem;
    font-size : .7rem;
    color : white;
    border-radius : 20px;
    cursor : pointer;
    transition : all .3s ease-in;
    border : 1px solid hsla(227, 35%, 25%, 0);
}
.btn:hover {
    background : transparent;
    border : 1px solid hsl(227, 35%, 25%);
    color : black;
}

@media screen and (min-width : 1000px) {
    .container {
        margin-top : 1rem;
        width : 25rem;
    }
    .detail-wrapper {
        display : grid;
        grid-auto-columns : 1fr;
        grid-template-areas : 
        'one two'
        'three three'
        ;
     }
     .title {
        grid-area : one;
        font-size : 1rem;
        color : rgb(114, 108, 108);
        font-weight : bolder;
        align-self : center;
    }
    .input-slider {
        width : 350px;
        padding : 0 40px;
        margin-top : 2rem;
        grid-area : three;
    }
     .price {
        grid-area : two;
        margin-top : -.1rem;
        font-size : 1.4rem;
        color : rgb(41, 39, 39);
        display : flex;
        justify-content : center;
        align-items : center;
    }
    .month {
        font-size : .8rem;
        color : rgb(148, 147, 147);
        margin-left : .3rem;
    }

    .two {
        display : flex;
        flex-direction : row;
        /* justify-content : space-between; */
        align-items : center;
        text-align : center;
        margin-top : 1.4rem;
    }
    .link-wrapper {
        display : flex;
        flex-direction : column;
        justify-content : center;
        align-items : center;
        margin-top : 10px;
        margin-right : 2rem;
    }
    .link {
        display : flex;
        justify-content : space-evenly;
        align-items : center;
        text-align : center;
    }
    .link:not(:nth-child(1)){
        margin-top : 7px;
    }
    .link img {
        margin-right : 10px;
    }
    .link-title {
        font-size : .8rem;
        font-weight : light;
        color : rgb(150, 146, 146);
    }
    
    .btn {
        margin-top : 1rem;
        text-align : center;
        display : flex;
        justify-content : center;
        align-items : center;
        background :hsl(227, 35%, 25%);
        padding : .6rem 1.5rem;
        font-size : .7rem;
        color : white;
        border-radius : 20px;
        cursor : pointer;
        transition : all .3s ease-in;
        border : 1px solid hsla(227, 35%, 25%, 0);
    }
}


